*{
    margin: 0;
    padding: 0;
}
.settings{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
div.container{
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 10px;
    flex-direction:row;
    flex-wrap: wrap;
    
}
.button{
    height: 35px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px grey;
    background-color:burlywood;
    border: none;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
}
.container_div{
    padding-top: 15px !important;
}
div.container>div{
    padding: 3px;
    margin: 3px;
    height: 30px;
}
.ranglista_table{
    width: 100%;
    margin: 0 auto;

}
.ranglista_table>table{
   margin: 0 auto;
   width: 100%;
   float: left;
   text-align: center;
}
.ranglista_table>table td{
    padding-top: 5px;
}

canvas{
    border : 1px solid black;
}
.range{
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
}
.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
h1{
    text-align: center;
    padding: 10px;
}

